<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="box">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="length">Enter Length</label>
        <input class="input" (input)="onChangeInput($event.target.value)" name="length">
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="letters">
            <input (change)="includeLetters()" type="checkbox" name="letters">
            use letters
          </label>
       
        </div>
      </div>
     
      <div class="field">
        <div class="control">
          <label class="checkbox" for="numbers">
            <input (change)="includeNumbers()" type="checkbox" name="numbers">
            use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="symbols" class="checkbox">
            <input (change)="includeSymbols()" type="checkbox" name="symbols">
            use symbols
          </label>
        </div>
      </div>

      <div>
        <button class="button is-link" (click)="onButtonClick()"
          [disabled]="!(length && (includeLtrs || includeNmbrs || includeSym))">
          Generate!!
        </button>
      </div>
      <div class="field" *ngIf="password">
        <label class="label" for="password">your password</label>
        <input type="text" name="password" [value]="password">
      </div>
    </div>
  </div>
</div>